<article ng-style="{ left: (widget.x-1) * 240+'px' , top: (widget.y-1) * 240+'px'}" class="widget custom-widgets ui-draggable loaded" style="width: auto;">
    <div class="widget-inner  widget-size-1x1 large-screen">
        <header>
            <h1>{{widget.title}}</h1>
        </header>
        <section class="widget-body list-widget text-widget">
            <div class="widget-canvas">
                <ul>
                    <li ng-repeat="item in widget.value">
                        <div style="margin-bottom: 5px;">
                            <h3>{{item.summary}}</h3>
                            <p>{{item.start.date}}</p>
                            <div style="clear:both;"></div>
                        </div>
                    </li>
                </ul>
            </div><!-- .widget-canvas -->
        </section> 
        <footer style="display: none;">
            <div class="inner">
                <span>Custom Widgets</span>
                <ul class="widget-actions">
                    <li><a class="edit" href="#" title="Edit"></a></li>
                    <li><a class="copy" href="#" title="Copy"></a></li>
                    <li><a class="delete" href="#"></a></li>  
                </ul>
            </div>
        </footer>
    </div><!-- .widget-inner -->
</article>