<article ng-controller="EventsCtrl" ng-style="{ left: (widget.x-1) * 240+'px' , top: (widget.y-1) * 240+'px'}"
         class="widget custom-widgets ui-draggable loaded" style="width: auto;">
    <div class="widget-inner  widget-size-1x1 large-screen">
        <header>
            <h1>Birthdays & Anniversaries</h1>
        </header>
        <section class="widget-body list-widget text-widget">
            <div class="widget-canvas">
                <ul>
                    <li ng-repeat="event in events">
                        <div style="margin-bottom: 5px;">
                            <h3>{{event.summary}}</h3>

                            <p>{{event.start.date}}</p>

                            <div style="clear:both;"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</article>