<article ng-controller="MoviesCtrl" ng-style="{ left: ((widget.x-1) * 240 + 'px'), top: ((widget.y-1) * 240) + 'px'}"
         class="widget custom-widgets ui-draggable loaded" style="width: auto;">
    <div class="widget-inner  widget-size-2x2 large-screen movie">
        <header>
            <h1>Movies</h1>
        </header>
        <section class="widget-body list-widget text-widget">
            <div id="movie-list">
                <ul>
                    <li ng-repeat="movie in movies | limitTo: 5">
                        <div ng-class="{active: isHighlighted($index)}" class="movie-box">
                            <img class="movie-image" load-image="{{movie.poster}}" load-delay="0" alt="" width="50"/>

                            <div class="movie-text">
                                <h3>{{movie.heading}}</h3>
                                <p>
                                    {{movie.release_date}}<br/>
                                    {{movie.mpaa_rating}}
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div id="movie-info-box">
                <div id="header">
                    <img ng-src="{{currentBackdrop}}" width="99%"/>
                    <div id="rating">{{highlightedMovie.mpaa_rating}}</div>
                    <h2>{{highlightedMovie.heading}}</h2>
                </div>
                <p>{{highlightedMovie.overview}}</p>
            </div>

        </section>
    </div>
</article>