<article class="widget google-analytics ui-draggable loaded" id="widget-14957485" ng-style="{left:$index * 250}" style="top:0px; width: auto;">
    <div class="widget-inner  widget-size-1x1 large-screen">
        <header>
            <h1>{{widget.title}}</h1>
        </header>
        <a class="led success" href="#"></a>

        <section style="text-align: center" class="widget-body number-widget">
            <div class="widget-canvas">

                <div class="main-stat t-size-x60">
                    {{widget.value}}
                </div>
                <div class="main-stat t-size-x60">
                    {{widget.value}}
                </div>

                <div class="t-secondary t-size-x24">Today</div>
                <div class="t-secondary t-size-x44">
                </div>
            </div><!-- .widget-canvas -->
        </section>
        <footer style="display: none;">
            <div class="inner">
                <span>Google Analytics</span>

                <ul class="widget-actions">
                    <li><a class="edit" href="#" title="Edit"></a></li>

                    <li><a class="copy" href="#" title="Copy"></a></li>
                    <li><a class="delete" href="#"></a></li> 
                </ul>
            </div>
        </footer>
    </div><!-- .widget-inner -->
</article>