<article class="widget custom-widgets ui-draggable loaded" id="widget-14959023" ng-style="{ left:$index * 250 }" style="top: 0px; left: 1440px; width: auto;"><div class="widget-inner  widget-size-1x1 large-screen">
        <header>
            <h1>{{widget.title}}</h1>
        </header>  
        <a class="led success" href="#"></a>
        <section class="widget-body ragcolumn-widget">
            <div class="widget-canvas">
                <div class="column">
                    <div class="negative" style="height:25%"></div>
                    <div class="level" style="height:37%"></div>
                    <div class="positive" style="height:38%"></div>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td class="t-size-x36 number negative">
                                119
                            </td>
                            <td class="t-secondary">Today</td>
                        </tr>

                        <tr>
                            <td class="t-size-x36 number level">
                                178
                            </td>
                            <td class="t-secondary">Thu</td>
                        </tr>

                        <tr>
                            <td class="t-size-x36 number positive">
                                181
                            </td>
                            <td class="t-secondary">Wed</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- .widget-canvas -->
        </section>
        <footer style="display: none;">
            <div class="inner">
                <span>Custom Widgets</span>

                <ul class="widget-actions">
                    <li><a class="edit" href="#" title="Edit"></a></li>
                    <li><a class="copy" href="#" title="Copy"></a></li>
                    <li><a class="delete" href="#"></a></li>
                </ul>
            </div>
        </footer>
    </div><!-- .widget-inner -->
</article>