<article ng-style="{ left: (widget.x-1) * 240, top: (widget.y -1) * 240}"class="widget google-analytics ui-draggable loaded" style="width: auto;">
    <div class="widget-inner  widget-size-1x1 large-screen">
        <header>
            <h1>{{widget.title}}</h1>
        </header>
        <section style="text-align: center" class="widget-body number-widget">
            <div class="widget-canvas">
                <div style="float:left">
                External
                <div class="main-stat t-size-x60">
                    {{widget.external}}&deg;
                </div>
            </div>
            <div style="float:right">
                Internal
                <div style="color: {{widget.color}}" class="main-stat t-size-x60">
                    {{widget.internal}}&deg;
                </div>
            </div>
                <div>
                    <img ng-show="widget.leaf" src="images/temps/leaf.png" width=""/>
                    <div id="awayText">{{widget.away}}</div>
                </div>
                <!--<div class="t-secondary t-size-x24">Today</div>-->
<!--                <div class="t-secondary t-size-x44">
                </div>-->
            </div><!-- .widget-canvas -->
        </section>
        <footer style="display: none;">
            <div class="inner">
                <span>Google Analytics</span>

                <ul class="widget-actions">
                    <li><a class="edit" href="#" title="Edit"></a></li>

                    <li><a class="copy" href="#" title="Copy"></a></li>
                    <li><a class="delete" href="#"></a></li> 
                </ul>
            </div>
        </footer>
    </div><!-- .widget-inner -->
</article>