<article ng-controller="TemperaturesCtrl as temp" ng-style="{ left: (widget.x-1) * 240, top: (widget.y -1) * 240}"
         class="widget google-analytics ui-draggable loaded" style="width: auto;">
    <div class="widget-inner  widget-size-1x1 large-screen">
        <header>
            <h1>Nest Temperature</h1>
        </header>
        <section style="text-align: center" class="widget-body number-widget">
            Current
            <div class="main-stat t-size-x60">
                {{temp.current}}&deg;
            </div>
            Target
            <div class="main-stat t-size-x60">
                {{temp.target}}&deg;
            </div>

            <div>
                <img ng-show="temp.leaf" src="images/temps/leaf.png"/>

                <div ng-show="temp.away" id="awayText">Away</div>
            </div>
        </section>
    </div>
</article>